*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 16px */
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  padding: 2.3rem;
  box-sizing: border-box;
}

/* The first form */
.card-title {
  font-size: 3.25rem;
}

#task {
}

#task:focus {
  outline: none;
  border-bottom: 3px solid #07b71b;
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #07b71b;
  background: transparent;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.btn:focus {
  outline: none;
}
