*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 16px */
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  padding: 2.3rem;
  box-sizing: border-box;
}
