*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 16px */
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  padding: 2.3rem;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* The first form */
.card-title {
  font-size: 3.25rem;
}

#task {
  border-radius: 5px;
  border: 1px solid red;
  padding-left: 0.8rem;
}
#task-form {
  display: flex;
  flex-direction: column;
}
.task__label {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  display: block;
}
/* Hides the label */
#task:placeholder-shown + .task__label {
  overflow: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

#task:focus {
  outline: none;
  border: 1px solid #07b71b;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;

  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #07b71b;
  background: transparent;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

.btn__label {
  font-size: 1.2rem;
}

/* The second form */
.card-action {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#filter {
  margin-top: 1.3rem;
  border-radius: 5px;
  border: 1px solid blue;
  padding-left: 0.8rem;
}

.filter__label {
  font-size: 1.6rem;
  display: block;
}
/* Hides the label */
#filter:placeholder-shown + .filter__label {
  overflow: 0;
  display: none;
  transform: translateY(-4rem);
}
#filter:focus {
  outline: none;
  border: 1px solid green;
}
/* Possible styling later */
.clear-tasks {
}
a:link,
a:visited {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #f70202;
  color: #f70202;
  background: transparent;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
a:link:active,
a:visited:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}
/* Possible styling later */
.input-field {
}
#task-title {
  font-size: 2.45rem;
  text-align: center;
}
.collection {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  list-style: none;
}
/* TODO remember to change this when updating to the SVG */
svg {
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
}
.collection-item {
  padding-left: 1rem;
}
.collection-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.collection-item:nth-child(odd) {
  background-color: rgba(221, 221, 221, 0.3);
}
/* Sets the display to none if there is no content */
ul:empty {
  display: none;
}
